#  LINZ-2-OSM
#  Copyright (C) Koordinates Ltd.
# 
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.

# Django settings for linz2osm project.

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('You', 'your.email.here@example.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE' : 'django.contrib.gis.db.backends.postgis',
        'NAME' : 'linz2osm',
        # 'USER' : 'linz2osm',
        # 'PASSWORD' : '',
        # 'HOST': 'localhost',
    },
    'chathams': {
        '_description': "Chathams",
        '_srid': 3793,
        '_version': "V16",
        'ENGINE' : 'django.contrib.gis.db.backends.postgis',
        'NAME' : 'osm_chathams_v16',
         # 'USER' : 'linz2osm',
         # 'PASSWORD' : '',
         # 'HOST': 'localhost',
    },
    'antarctic': {
         '_description': "Antarctic 2012-07-06",
         '_srid': 5479,
         '_version': "2012-07-06",
         'ENGINE' : 'django.contrib.gis.db.backends.postgis',
         'NAME' : 'antarctic_topo50',
    },
    'antipodes_is': {
         '_description': "Antipodes Islands 2012-07-06",
         '_srid': 3790,
         '_version': "2012-07-06",
         'ENGINE' : 'django.contrib.gis.db.backends.postgis',
         'NAME' : 'antipodes_is_topo25',
    },
    'auckland_is': {
         '_description': "Auckland Islands 2012-07-06",
         '_srid': 3788,
         '_version': "2012-07-06",
         'ENGINE' : 'django.contrib.gis.db.backends.postgis',
         'NAME' : 'auckland_is_topo50',
    },
    'bounty_is': {
         '_description': "Bounty Islands 2012-07-06",
         '_srid': 3790,
         '_version': "2012-07-06",
         'ENGINE' : 'django.contrib.gis.db.backends.postgis',
         'NAME' : 'bounty_is_topo25',
    },
    'campbell_is': {
         '_description': "Campbell Islands 2012-07-06",
         '_srid': 3789,
         '_version': "2012-07-06",
         'ENGINE' : 'django.contrib.gis.db.backends.postgis',
         'NAME' : 'campbell_is_topo50',
    },
    'kermadec_is': {
         '_description': "Kermadec Islands 2012-07-06",
         '_srid': 3791,
         '_version': "2012-07-06",
         'ENGINE' : 'django.contrib.gis.db.backends.postgis',
         'NAME' : 'kermadec_is_topo25',
    },
    'mainland': {
         '_description': "NZ Mainland 2012-07-06",
         '_srid': 2193,
         '_version': "2012-07-06",
         'ENGINE' : 'django.contrib.gis.db.backends.postgis',
         'NAME' : 'nz_mainland_topo50',
    },
    'snares_is': {
         '_description': "The Snares 2012-07-06",
         '_srid': 3790,
         '_version': "2012-07-06",
         'ENGINE' : 'django.contrib.gis.db.backends.postgis',
         'NAME' : 'snares_is_topo25',
    },
}


MEDIA_ROOT = '/path/to/src/linz2osm/media/'
STATIC_ROOT = '/path/to/src/linz2osm/static/'
STATICFILES_DIRS = (
    '/path/to/src/linz2osm/assets/',
)

SECRET_KEY = 'this-is-very-secret-2347'

TEMPLATE_DIRS = (
    "/path/to/src/linz2osm/templates",
)

