{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    var dataset_layers = {{dataset_layers|safe}};
    
    $(function() {
        function updateLayers() {
            var ds = dataset_layers[$('#id_dataset').val()] || null;
            $('#id_layer option').each(function(i,n) {
                if (ds === null || ds.indexOf(n.value)<0) {
                    n.disabled = true;
                } else {
                    n.disabled = false;
                }
            });
        }
    
        $('#id_dataset').change(updateLayers);
        updateLayers();
    });
</script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<style type="text/css">
    input[type="submit"].default {
        float: none;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../">{% trans "Home" %}</a> &rsaquo;
     Convert
</div>
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div id="content-main">
    <form action="" method="post">
        {{ form.as_p }}
        
        <p>
            <input type="submit" class="default" name="preview" value="Preview" style="float:none">
            <input type="submit" class="default" name="download" value="Download" style="float:none">
            <input type="submit" class="default" name="download_gz" value="Download (.osm.gz)" style="float:none">
        </p>
    </form>
    {% if error %}
    <ul class="errorlist"><li>{{ error|linebreaksbr }}</li></ul>
    {% endif %}
</div>
{% endblock %}

