{% extends "global.html" %}
{% load i18n staticfiles %}

{% block breadcrumbs %}
<li class="active">
  Home
</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <table class="table">
      <tr>
        <th>Dataset</th>
        <th>Layers</th>
      </tr>
      {% for ds in datasets %}
      <tr>
        <td><a href="{% url linz2osm.data_dict.views.show_dataset dataset_id=ds.name %}">{{ ds.description }}</a></td>
        <td>{{ ds.layer_set.count }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
