body {
   padding-top: 60px;
   padding-bottom: 40px;
}

.pagination-info {
   margin-left: 1em;
   margin-right: 1em;
}

#map_canvas {
   height: 600px;
   width: 100%;
   border: 1px solid grey;
}

.layer-notes {
   overflow: auto;
   word-break: normal;
}

#osm-link-container {
   margin-top: 1em;
   float: right;
}

.preview-content pre {
   overflow: visible;
}

.layer-list-nav-content {
   margin-bottom: 0px;
}

.pills-horizontal-spacer {
   width: 40px;
}
