{% extends "global.html" %}
{% load i18n stylize %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <li>
    <a href="/">{% trans "Home" %}</a> <span class="divider">&rsaquo;</span>
  </li>
  <li>
    Layers <span class="divider">&rsaquo;</span>
  </li>
  <li>
    {{layer}} <span class="divider">&rsaquo;</span>
  </li>
  <li class="active">
     Statistics
  </li>
</div>
{% endblock %}

{% block content %}
{% for item in statistics.items %}
    <div class="row">
      <div class="span12">
        {% with item.0 as ds %}
        {% with item.1 as stats %}
        <h2>{{ ds.1 }}</h2>
        
        <table class="table table-bordered">
          <tbody>
            {% if stats.extent %}
              <tr><th>Extent:</th><td colspan=4>{{stats.extent.extent}}</td></tr>
            {% endif %}
            {% if stats.feature_count %}
              <tr><th>Features:</th><td colspan=4>{{stats.feature_count}}</td></tr>
            {% endif %}
            {% if stats.rings_avg %}
              <tr><th>Rings:</th><td colspan=4>Average: {{stats.rings_avg|floatformat:"0"}} Max: {{stats.rings_max}}</td></tr>
            {% endif %}
            {% if stats.points_avg %}
              <tr><th>Vertexes:</th><td colspan=4>Average: {{stats.points_avg|floatformat:"0"}} Max: {{stats.points_max}}</td></tr>
            {% endif %}
            {% if stats.points_ext_ring_avg %}
              <tr><th>Vertexes (Outer Ring):</th><td colspan=4>Average: {{stats.points_ext_ring_avg|floatformat:"0"}} Max: {{stats.points_ext_ring_max}}</td></tr>
            {% endif %}
            {% if stats.fields %}
              <tr>
                <th rowspan="{{stats.fields|length|add:'1'}}">Fields:</th>
              </tr>
              {% for f in stats.fields.items %}
              <tr>
                <td><strong><code>{{f.0}}</code></strong></td>
                <td>{{ f.1.col_type }}</td>
                <td>
                  <span title="Not NULL, and not empty (string fields) or not zero (numeric fields)">
                    Populated
                  </span>:
                  {% ifequal f.1.non_empty_cnt 0 %}
                    None
                  {% else %}
                    {{f.1.non_empty_pc|floatformat:"0"}}%
                  {% endifequal %}
                </td>
                <td>
                  {% if f.1.show_distinct_values %}
                  <a href="{% url linz2osm.data_dict.views.field_stats dataset_id=ds.0 layer_id=layer.name field_name=f.0 %}">Distinct Values</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              <tr>
                <th>Primary Key:</th><td colspan=4><strong><code>{{ stats.primary_key }}</code></strong></td>
              </tr>
            {% endif %}
          </tbody>
        </table>
        
        {% endwith %}
        {% endwith %}
        {% if not forloop.last %}<hr>{% endif %}
      </div>
    </div>
{% endfor %}
{% endblock %}

