{% extends "global.html" %}
{% load i18n stylize staticfiles %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'stylize.css' %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <li>
    <a href="/">{% trans "Home" %}</a> <span class="divider">&rsaquo;</span>
  </li>
  <li>
    Layers <span class="divider">&rsaquo;</span>
  </li>
  <li>
    {{layer}} <span class="divider">&rsaquo;</span>
  </li>
  <li class="active">
    Preview
  </li>  
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <h2>{{ layer.name }}</h2>
    <ul class="nav nav-pills">
      <li>
        <a href="{% url linz2osm.data_dict.views.layer_stats layer.name %}">Statistics</a>
      </li>
      <li class="active">
        <a href="#" class="disabled">Preview</a>
      </li>
      <li>
        <a href="{% url linz2osm.data_dict.views.show_tagging layer_id=layer %}">Tagging</a>
      </li>
      <li class="divider pills-horizontal-spacer">&nbsp;</li>
      {% if user.is_staff %}
      <li>
        <a href="/admin/data_dict/layer/{{ layer.name }}/">
          <i class="icon-pencil"></i>
          Admin
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="span4">
    <form action='' method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Preview'>
    </form>
  </div>
  <div class="preview-content span12">
    {% if preview_data %}
      {{ preview_data|stylize_inline_ln:"xml" }}
    {% endif %}
  </div>
</div>
{% endblock %}
