{% extends "global.html" %}
{% load i18n stylize staticfiles %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'stylize.css' %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <li>
    <a href="/">{% trans "Home" %}</a> <span class="divider">&rsaquo;</span>
  </li>
  <li>
    <a href="/layers/">Layers</a> <span class="divider">&rsaquo;</span>
  </li>
  <li>
    {{layer}} <span class="divider">&rsaquo;</span>
  </li>
  <li class="active">
    Tagging
  </li>  
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    {% include "data_dict/layer_info_nav_pills.html" with current="show_tagging" %}
  </div>
</div>

{% if layer.processors %}
<div class="row">
  <div class="span12">
    <h3>Processing</h3>
  </div>
</div>
<div class="span8">
  {{ layer.get_processors_json|stylize_no_ln:"js" }}
</div>
{% endif %}
<div class="row"></div>
<div class="row">
  <div class="span12">
    <h3>Tags</h3>
  </div>
</div>

{% for group_title, tags in grouped_tags %}
<div class="row"></div>
<div class="row">
  <div class="span12">
    <h4>{{ group_title }}</h4>
  </div>
</div>

{% for tag in tags %}
<div class="span8 code-content">
  <strong><code>{{tag.tag}}</code></strong>
  {% if tag.code %}
  {{ tag.code|stylize_no_ln:"js" }}
  {% endif %}
</div>
{% endfor %}

{% endfor %}
{% endblock %}
