{% extends "global.html" %}
{% load i18n stylize staticfiles %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'stylize.css' %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <li>
    <a href="/">{% trans "Home" %}</a> <span class="divider">&rsaquo;</span>
  </li>
  <li>
    Layers <span class="divider">&rsaquo;</span>
  </li>
  <li>
    {{layer}} <span class="divider">&rsaquo;</span>
  </li>
  <li class="active">
    Tagging
  </li>  
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <h2>{{ layer.name }}</h2>
    <ul class="nav nav-tabs">
      <li>
        <a href="{% url linz2osm.data_dict.views.layer_stats layer.name %}">Statistics</a>
      </li>
      <li>
        <a href="{% url linz2osm.data_dict.views.preview layer_id=layer %}">Preview</a>
      </li>
      <li class="active">
        <a href="#" class="disabled">Tagging</a>
      </li>
    </ul>
  </div>
</div>

{% for tag in layer.get_all_tags %}
<div class="span8 code-content">
  <strong><code>{{tag.tag}}</code></strong>
  {% if not tag.layer %}
  <i class="icon-globe" title="This tag is applied to all layers"></i>
  {% endif %}
  {% if tag.code %}
  {{ tag.code|stylize_no_ln:"js" }}
  {% endif %}
</div>
{% endfor %}
{% endblock %}
