{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
    #linz_dd {
        float: right;
        width: 45%;
    }
    #linz_dd iframe {
        border: 1px solid black;
        min-height: 600px;
        width: 100%;
    }
    #content-main {
        width: 45%
    }
</style>
{% endblock %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    <li><a href="/convert/layer/{{ original.name }}/">Export</a></li>
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}
        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">
            {% trans "View on site" %}</a>
        </li>
    {% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}


{% block content %}
{% if original %}
<div id="linz_dd">
    <h4><a href="{{ original.linz_dictionary_url}}">LINZ Data Definition</a></h4>
    <iframe src="{{ original.linz_dictionary_url}}#nav"></iframe>
</div>
{% endif %}
{{block.super}}
{% endblock %}
