{% extends "admin/change_form.html" %}
{% load i18n admin_modify %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
    .rpanel {
        float: left;
        min-width: 430px;
        margin-left: 20px;
    }
    #linz_dd {
        border: 1px solid black;
        min-height: 600px;
        width: 100%;
    }
    #content-main {
        float: left;
        width: 520px;
    }
    #content-main .vLargeTextField {
        width: 485px;
        height: 6em;
    }
    #content-main .codeExec .vLargeTextField {
        width: 210px;
        height: 10em;
    }
</style>
{% endblock %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    <li><a href="/data_dict/layer/{{ original.name }}/stats/" class="statslink">Statistics</a></li>
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}
        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">
            {% trans "View on site" %}</a>
        </li>
    {% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% block content %}
{{block.super}}
{% if original %}
<div class="rpanel">
    <h4><a href="{{ original.linz_dictionary_url}}">LINZ Data Definition</a></h4>
</div>
{% endif %}
{% endblock %}
