{% load i18n staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}LINZ-2-OSM{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap-2.0/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% static 'global.css' %}" rel="stylesheet">

    {% block extrahead %}
    {% endblock %}
    {% block extrastyle %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">LINZ-2-OSM</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/workslices/list/">Workslices</a></li>
            {% if user.is_staff %}
              <li><a href="/admin/">Admin</a></li>
            {% endif %}
            {% if user.is_authenticated %}
              <li><a href="/logout/">Log Out from {{ user.username }}</a></li>
            {% else %}
              <li><a href="/login/">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <ul class="breadcrumb">
        {% block breadcrumbs %}
        {% endblock %}
      </ul>
    </div>
    
    <div class="container-fluid" id="content">
      {% block content %}
      {% endblock %}
    </div>
    
    {% block scripts %}
    <script src="{% static 'jquery-1.7.2.min.js' %}"></script>
    <script src="{% static 'bootstrap-2.0/js/bootstrap.min.js' %}"></script>
    {% endblock %}
    
    {% block extrascripts %}
    {% endblock %}
  </body>
</html>
