{% extends "global.html" %}
{% load i18n stylize staticfiles %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <li>
    <a href="/">{% trans "Home" %}</a> <span class="divider">&rsaquo;</span>
  </li>
  <li>
    <a href="{{ layer_in_dataset.dataset.get_absolute_url }}">{{ layer_in_dataset.dataset.description }}</a> <span class="divider">&rsaquo;</span>
  </li>
  <li class="active">
     {{ layer_in_dataset.layer.name }}
  </li>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span4">
    <div>
      <h2>Stats</h2>
      <ul>
        <li>{{ layer_in_dataset.features_total }} total features.</li>
        <li>{{ layer_in_dataset.features_todo }} to do.</li>
        <li>{{ layer_in_dataset.features_in_progress }} in progress.</li>
        <li>{{ layer_in_dataset.features_complete }} done.</li>
      </ul>
    </div>

    {% if user.is_authenticated %}
    <div id="grab-some-data">
      <h2>Check out data</h2>
      <div id="grab-some-data-view-mode" {% if form.is_bound %}style="display: none;"{% endif %}>
        <a href="#grab-some-data" id="grab-some-data-start">Check out data</a>
      </div>
      <div id="grab-some-data-select-mode" {% if not form.is_bound %}style="display: none;"{% endif %}>
        <a href="#cancel-grab-data" id="grab-some-data-cancel">Cancel</a> |
        <a href="#reset-grab-data" id="grab-some-data-reset">Reset</a>
        <div>
          <span id="cell-selection-information"></span>
          <span id="feature-selection-information"></span>
        </div>
        <form id="feature-count-form" action="{% url linz2osm.workslices.views.workslice_info layer_in_dataset_id=layer_in_dataset.id %}" method="POST">
          <input type="submit" value="Feature count" id="feature-count-submit">
        </form>
        <form id="grab-some-data-form" action="{% url linz2osm.workslices.views.create_workslice layer_in_dataset_id=layer_in_dataset.id %}" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Check out" id="grab-some-data-submit">
        </form>
      </div>
    </div>
    {% endif %}

    <div>
      <h2>Current checkouts</h2>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>User</th>
            <th>Features</th>
            <th>Status</th>
            <th>Checked Out</th>
          </tr>
        </thead>
        <tbody>
        {% for ws in workslices %}
          <tr>
            <td>{{ ws.user.username }}</td>
            <td>{{ ws.feature_count }}</td>
            <td>{{ ws.friendly_status }}</td>
            <td><a href="{{ ws.get_absolute_url }}">{{ ws.checked_out_at }}</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="span8">
    <!-- map_canvas is a magic name for Bootstrap to not mangle images with max-width -->
    <div id="map_canvas" style="height: 600px; width: 100%; border: 1px dashed red;">
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="{% static 'workslice-slippy-map.js' %}"></script>
<!-- FIXME: if we have form data, display map at its former position -->
<script defer>
  {% autoescape off %}
  var worksliceSlippyMap = new WorksliceSlippyMap(
      "map_canvas",
      {{ layer_in_dataset.js_display_bounds_array }},
      {{ layer_in_dataset.js_workslice_geojson }}
  );
  {% if form.is_bound %}
  worksliceSlippyMap.startGrabbingData();
  {% endif %}
  {% endautoescape %}
</script>
{% endblock %}
