{% extends "global.html" %}
{% load i18n staticfiles humanize %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <li>
    <a href="/">{% trans "Home" %}</a> <span class="divider">&rsaquo;</span>
  </li>
  <li>
    <a href="{{ layer_in_dataset.dataset.get_absolute_url }}">{{ layer_in_dataset.dataset.description }}</a> <span class="divider">&rsaquo;</span>
  </li>
  <li class="active">
     {{ layer_in_dataset.layer.name }}
  </li>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span4">
    <div id="workslice-stats">
      <h2>Stats</h2>
      <ul>
        <li>{{ layer_in_dataset.features_total|intcomma }} total features.</li>
        {% if layer_in_dataset.completed %}
        <li>Layer is marked as complete.</li>
        {% else %}
        <li>{{ layer_in_dataset.features_todo|intcomma }} to do.</li>
        <li>{{ layer_in_dataset.features_in_progress|intcomma }} in progress.</li>
        <li>{{ layer_in_dataset.features_complete|intcomma }} done.</li>
        {% endif %}
      </ul>
    </div>

    {% if user.is_authenticated and not layer_in_dataset.completed %}
    <div id="grab-some-data">
      <h2>Check out data</h2>
      <div id="grab-some-data-view-mode" {% if form.is_bound %}style="display: none;"{% endif %}>
        <a href="#grab-some-data" id="grab-some-data-start">
          Check out data
        </a>
      </div>
      <div id="grab-some-data-select-mode" {% if not form.is_bound %}style="display: none;"{% endif %}>
        <div class="alert alert-info">
          When you change zoom level, the selection size will change and <strong>your selection will be lost</strong>
        </div>
        
        <a href="#cancel-grab-data" id="grab-some-data-cancel">
          Cancel
        </a> |
        <a href="#reset-grab-data" id="grab-some-data-reset">
          Reset
        </a>
        <div>
          <span id="cell-selection-information"></span>
          <img src="{% static 'ajax-loader.gif' %}" style="display: none;" id="feature-selection-ajax-indicator">
          <span id="feature-selection-information"></span>
          <span id="feature-conflict-information"></span>
        </div>
        <form id="feature-count-form" action="{% url linz2osm.workslices.views.workslice_info layer_in_dataset_id=layer_in_dataset.id %}" method="POST">
        </form>
        <form id="grab-some-data-form" action="{% url linz2osm.workslices.views.create_workslice layer_in_dataset_id=layer_in_dataset.id %}" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Check out" id="grab-some-data-submit">
        </form>
      </div>
    </div>
    {% endif %}

    {% include "workslices/legend-create.html" %}    
  </div>

  <div class="span8">
    <!-- map_canvas is a magic name for Bootstrap to not mangle images with max-width -->
    <div id="map_canvas">
    </div>
    <div id="osm-link-container">
      <a href="#" id="osm-link" class="btn btn-info">View this area on OpenStreetMap</a>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span12">
    <div class="layer-notes">
      <h2>Notes</h2>
      {{ layer_in_dataset.layer.notes|linebreaks }}
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>Current checkouts</h2>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>User</th>
          <th>Features</th>
          <th>Status</th>
          <th>Checked Out</th>
        </tr>
      </thead>
      <tbody>
        {% for ws in workslices %}
        <tr>
          <td>{{ ws.user.username }}</td>
          <td>{{ ws.feature_count|intcomma }}</td>
          <td>{{ ws.friendly_status }}</td>
          <td><a href="{{ ws.get_absolute_url }}">{{ ws.checked_out_at }}</a></td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>

{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="{% static 'workslice-slippy-map.js' %}"></script>
<!-- FIXME: if we have form data, display map at its former position -->
<script defer>
  {% autoescape off %}
  var worksliceSlippyMap = new WorksliceSlippyMap(
      "map_canvas",
      {{ layer_in_dataset.js_display_bounds_array }},
      {{ layer_in_dataset.js_workslice_geojson }}
  );
  {% if form.is_bound %}
  worksliceSlippyMap.startGrabbingData();
  {% endif %}
  {% endautoescape %}
</script>
{% endblock %}
