<div>
  <h2>Legend</h2>
  <ul class="workslice-map-legend unstyled">
    <li>
      <span class="legend-line-item" id="legend-db-features">&nbsp;</span>
      <span>Features in database</span>
    </li>

    <li>
      <span class="legend-line-item" id="legend-osm-features">&nbsp;</span>
      <span>Conflicting features in OSM</span>
    </li>
    <li>
      <span class="legend-poly-item" id="legend-layer-extent">&nbsp;</span>
      <span>Layer extent</span>
    </li>
    <li>
      <span class="legend-poly-item" id="legend-out">&nbsp;</span>
      <span>Checked out</span>
    </li>
    <li>
      <span class="legend-poly-item" id="legend-blocked">&nbsp;</span>
      <span>Blocked</span>
    </li>
    <li>
      <span class="legend-poly-item" id="legend-complete">&nbsp;</span>
      <span>Complete</span>
    </li>
  </ul>
</div>
<div class="clearfix"></div>
