{% extends "global.html" %}
{% load i18n staticfiles %}

{% block breadcrumbs %}
<li>
  <a href="/">{% trans "Home" %}</a> <span class="divider">&rsaquo;</span>
</li>
<li class="active">
  Workslices
</li>
{% endblock %}

{% block content %}
<div id="content-main">
  <div class="row">
    <div class="span12">
      <h1>Workslices</h1>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <form id="workslice-filter-form" action="{% url linz2osm.workslices.views.list_workslices %}" method="GET" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Filter" id="filter-workslices-submit" class="btn btn-primary">
      </form>
    </div>
    <div class="span12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Dataset</th>
            <th>Layer</th>
            <th>Features</th>
            <th>State</th>
            <th>Checked Out</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for ws in workslices %}
          <tr>
            <td>{{ ws.user.username }}</td>
            <td>{{ ws.layer_in_dataset.dataset.description }}</td>
            <td>{{ ws.layer_in_dataset.layer.name }}</td>
            <td>{{ ws.feature_count }}</td>
            <td>{{ ws.friendly_status }}</td>
            <td>{{ ws.checked_out_at }}</td>
            <td><a href="{{ ws.get_absolute_url }}">Details</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <span>
        {% if workslices.has_previous %}
        <a class="btn btn-primary" href="?page={{ workslices.previous_page_number }}{{ form.uri_components }}">Previous</a>
        {% endif %}
        </span>

        <span class="pagination-info">
          {% if workslices.paginator.num_pages == 1 and workslices.paginator.count == 0 %}
          Nothing found
          {% else %}
          Page {{ workslices.number }} of {{ workslices.paginator.num_pages }}
          {% endif %}
        </span>

        <span>
        {% if workslices.has_next %}
        <a class="btn btn-primary" href="?page={{ workslices.next_page_number }}{{ form.uri_components }}">Next</a>
        {% endif %}
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

