{% extends "global.html" %}
{% load i18n staticfiles %}

{% block breadcrumbs %}
<li>
  <a href="../../">{% trans "Home" %}</a> <span class="divider">&rsaquo;</span>
</li>
<li>
  <a href="../">{% trans "Workslices" %}</a> <span class="divider">&rsaquo;</span>
</li>
<li class="active">
  #{{ workslice_id }}
</li>
{% endblock %}

{% block content %}
<div id="content-errors" class="row">
  {% if error %}
  <ul class="errorlist"><li>{{ error|linebreaksbr }}</li></ul>
  {% endif %}
</div>

<div id="content-main" class="row">
  <div class="span4">
    <h1>Info</h1>
    <dl>
      <dt>User</dt>
      <dd>{{ workslice.user.username }}</dd>
      <dt>Layer</dt>
      <dd>{{ workslice.layer.name }}</dd>
      <dt>Dataset</dt>
      <dd>{{ dataset_name }}</dd>
      <dt>Status</dt>
      {% if post_checkout_status %}
      <dd>Checked Out on {{ workslice.checked_out_at|date:"DATETIME_FORMAT" }} ({{ workslice.checked_out_at|timesince }} ago)</dd>
      {% endif %}
      <dd>{{ status_name }} since {{ workslice.status_changed_at|date:"DATETIME_FORMAT" }} ({{ workslice.status_changed_at|timesince }} ago)</dd>
      {% if status_name != 'Processing' %}

        {% ifequal user.id workslice.user.id %}
        <dt>Download</dt>
        <dd>
          <a href="{{ file_path }}">{{file_name}}</a>
          ({{ workslice.file_size|filesizeformat }})
        </dd>
        {% endifequal %}
      {% endif %}
    </dl>
  </div>
  <div class="span8">
    <h1>Map, maybe?</h1>
  </div>
</div>
<div style="height: 2000px;"></div>
{% endblock %}

