{% extends "global.html" %}
{% load i18n staticfiles humanize comments %}

{% block breadcrumbs %}
<li>
  <a href="/">{% trans "Home" %}</a> <span class="divider">&rsaquo;</span>
</li>
<li>
  <a href="/workslices/list/">{% trans "Workslices" %}</a> <span class="divider">&rsaquo;</span>
</li>
<li class="active">
  #{{ workslice_id }}
</li>
{% endblock %}

{% block content %}
<div id="content-errors" class="row">
  {% if error %}
  <ul class="errorlist"><li>{{ error|linebreaksbr }}</li></ul>
  {% endif %}
</div>

<div class="row">
  <div class="span4">
    <h1>Info</h1>
    <dl>
      <dt>User</dt>
      <dd>{{ workslice.user.username }}</dd>
      <dt>Layer</dt>
      <dd><a href="{{ workslice.layer_in_dataset.get_absolute_url }}">{{ workslice.layer_in_dataset.layer.name }}</a></dd>
      <dt>Features</dt>
      <dd>{{ workslice.feature_count|intcomma }}</dd>
      <dt>Dataset</dt>
      <dd>{{ workslice.layer_in_dataset.dataset.description }}</dd>
      <dt>Status</dt>
      {% if post_checkout_status %}
      <dd>Checked Out on {{ workslice.checked_out_at|date:"DATETIME_FORMAT" }} ({{ workslice.checked_out_at|timesince }} ago)</dd>
      {% endif %}
      <dd>{{ status_name }} since {{ workslice.status_changed_at|date:"DATETIME_FORMAT" }} ({{ workslice.status_changed_at|timesince }} ago)</dd>
      {% if status_name != 'Processing' %}
      <dt>View bounding box</dt>
      <dd><a href="{{ workslice.osm_link }}">On openstreetmap.org</a></dd>

        {% if user.id == workslice.user.id or user.is_superuser %}
        <dt>Download</dt>
        <dd>
          <a href="{{ file_path }}">{{file_name}}</a>
          ({{ workslice.file_size|filesizeformat }})
        </dd>
        {% endif %}
      {% else %}
        <div class="progress progress-striped active">
          <div class="bar" id="processing-progress-bar" style="width: 0%;"></div>
        </div>
      {% endif %}
    </dl>
    {% if user.is_superuser or user == workslice.user %}
    {{ form.non_field_errors|safe }}
    {% for transition, transition_descr in workslice.acceptable_transitions %}
    <form action="{% url linz2osm.workslices.views.update_workslice workslice_id=workslice.id %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="transition" value="{{ transition }}">
      <input type="submit" value="{{ transition_descr }}">
    </form>
    {% endfor %}
    {% endif %}
    {% include "workslices/legend-show.html" %}

  </div>
  <div class="span8">
    <!-- map_canvas is a magic name for Bootstrap to not mangle images with max-width -->
    <div id="map_canvas">
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Comments</h2>
  </div>
</div>
<div class="row">
  <div class="span6">
    {% if user.is_authenticated %}
    {% render_comment_form for workslice %}
    {% endif %}
  </div>
  <div class="span6">
    {% render_comment_list for workslice %}
  </div>
</div>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="{% static 'workslice-slippy-map.js' %}"></script>
<!-- FIXME: if we have form data, display map at its former position -->
<script defer>
  {% autoescape off %}
  var worksliceSlippyMap = new WorksliceSlippyMap(
      "map_canvas",
      {{ layer_in_dataset.js_display_bounds_array }},
      {{ layer_in_dataset.js_workslice_geojson }},
      {{ workslice_id }}
  );
  {% if status_name == 'Processing' %}
  var progressTimer = 7000;
  window.setTimeout(function() {
      document.location.reload(true);
  }, 7000);
  for(var i = 0; i <= 100; i += 2) {
      window.setTimeout(function(k) {
          return function() {
              $("#processing-progress-bar").attr("style", "width: " + k + "%;");
          };
      }(i), (i / 100) * progressTimer);
  }
  {% endif %}
  {% endautoescape %}
</script>
{% endblock %}
